.honor-details {
    position: relative;
    margin: 20px 20%;
    height: 600px;
    background-color: #fff;

    .honor-details-name {
        position: absolute;
        width: 10%;
        left: 30%;
        top: 20%
    }

    .honor-name {
        position: absolute;
        width: 20%;
        left: 30%;
        top: 30%;
    }

    .honor-image {
        position: absolute;
        left: 1%;
        top: 20%;
        width: 22%;
        height: 33%;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .honor-content {
        position: absolute;
        width: 60%;
        left: 30%;
        top: 40%;
        /* text-indent: 2rem; */
    }
}