@import './modules.scss';
@import './news.scss';
@import './btn.scss';
@import './element-ui.scss';
@import './navbar.scss';
@import './honor.scss';
@import './transition.scss';

body,html {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 247, 247);
}